/* STYLES for this particular presentation */
.reveal .small {
  font-size: 0.7em;
}

.reveal .box {
  background: var(--r-raised-bg-color);
  border: 2px solid var(--r-main-color);
  border-radius: 4px;
  padding: 12px;
  max-width: 420px;
  margin: 12px auto;
}

.reveal .box.inline {
  margin: 12px;
}

.reveal .box.blue {
  background: var(--r-link-color-hover);
}

.screen {
  width: 320px;
  height: 640px;
  background: #353A45; /* lighter #282C34 */
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 16px;
}

.screen .tab-container {
  flex: 1;
  border: 2px dashed white;
  position: relative;
  overflow-x: hidden;
}

.screen nav {
  display: flex;
}

.screen nav a {
  flex: 1;
  text-align: center;
  padding: 12px;
  color: #ABB2BF;
}

.screen nav a:hover {
  color: white;
}

.screen nav a.selected {
  color: white;
}


body {
  background: #282C34;
}

.tab-container-inner {
  
  width: 300%;
  height: 100%;
  display: flex;
  position: absolute;
  left: 0;
}

.tab-container[data-index="1"] .tab-container-inner {
  left: -100%;
}

.tab-container[data-index="2"] .tab-container-inner {
  left: -200%;
}

.tab-container .tab-container-inner.animate {
  transition: left 300ms ease-in-out;
}

.tab-content {
  flex: 1;
  color: #ABB2BF;
  font-size: 4em;
  text-align: center;
  float: left;
}

.tab-content i {
  margin-top: 120px;
}


.screen .system-nav {
  display: flex;
  background: black;
}

.screen .system-nav a {
  flex: 1;
  text-align: center;
  padding: 12px;
  color: #ABB2BF;
  font-size: 0.8em;
}

.screen .system-nav a:hover {
  color: white;
}

.screen .system-nav a.back {
  transform: rotate(180deg);
}

.reveal section>code {
  color: var(--r-link-color);
}

.reveal code.blue {
  color: var(--r-link-color);
}

.reveal img.profile-pic {
  border: 3px solid white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0;
}

.card {
  margin: auto;
  width: 350px;
  height: 200px;
  border-radius: 16px;
  background: var(--r-raised-bg-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 10px var(--r-shadow-color);
}
.card .hotstar {
  flex: 1 0;
  display: flex;
  justify-content:center;
  align-items: flex-end;
}

.card .hotstar img {
  height: 48px;
  padding: 12px;
  margin: 0;
}

.card .manideep {
  flex: 1 0;
  background: #353A45;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card .manideep p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 3px;
  color: #DDE0E5;
}

.card .manideep p.social {
  font-size: 20px;
}

.card .manideep .social .fa-twitter {
  color: #42affa;
}
.card .manideep .social .fa-github {
  color: white;
}

/* GDG Raipur customizations */

.reveal footer {
  position: absolute;
  bottom: 0em;
  left: 0.4em;
}
.reveal footer img {
  height: 64px;
}

.reveal header {
  position: absolute;
  background: #000;
  padding: 16px 144px 16px 48px;
  left: 0;
  top: 48px;
  box-shadow: 48px -48px 0px 0px var(--r-link-color);
  transition: opacity 300ms ease-in-out;
}

.reveal header.hidden {
  opacity: 0;
}

.reveal header img {
  height: 120px;
}

.reveal section.title {
  text-align: left;
}

section.title .layout {
  display: flex
}

section.title .layout .talk {
  flex: 1;
  margin: 64px 0 0 0;
}

section.title .layout .author {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

section.title .author img {
  margin: 0;
  max-width: none;/* reveal has some 95% crap */
}

section.title .author .details {
  background: #000;
  color: white;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 959px) {
  section.title .layout .author {
    display: none;
  }
  .reveal header {
    display: none;
  }
  .reveal footer img {
    height: 1em;
  }
}
