/* ONE DARK THEME */
/* Disabled for gdg theme
:root {
  --r-background-color: #282c34;
  --r-raised-bg-color: #353A45;
  --r-main-font: Roboto Slab, Helvetica, sans-serif;
  --r-main-font-size: 42px;
  --r-main-color: #fff;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: Roboto Slab, Helvetica, sans-serif;
  --r-heading-color: #fff;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: Dank Mono, monospace;
  --r-link-color: #42affa;
  --r-link-color-dark: #068de9;
  --r-link-color-hover: #8dcffc;
  --r-selection-background-color: #bee4fd;
  --r-selection-color: #fff;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap");

/* GDG Slides Theme */
:root {
  --r-background-color: #fff;
  --r-raised-bg-color: #fafafa;
  --r-shadow-color: #e5e5e5;
  --r-main-font: Google Sans, Helvetica, sans-serif;
  --r-main-font-size: 42px;
  --r-main-color: #202124;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: Google Sans, Helvetica, sans-serif;
  --r-heading-color: #000;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: Roboto Mono, monospace;
  --r-link-color: #4285f4;
  --r-link-color-dark: #0D61E7;
  --r-link-color-hover: #6ba1f6;
  --r-selection-background-color: #bcd4fb;
  --r-selection-color: #000;
}
